{% extends 'base.html' %}
{% block title %}About Us{% endblock %}

{% block content %}
<div class="parent-container">
  <div class="container">
    <section class="my-text">
      <h1 class="h1-a">about me</h1>
      <p id="txtp"></p>
    </section>
    <br><br>
    <div class="arrow-parent">
      <div class="left-arrow"></div>
      <div class="right-arrow"></div>
      <div class="top-arrow"></div>
      <div class="bottom-arrow"></div>
    </div>
    <footer>
      <p>Author: Wahdan<br>
        <a class="email" href="Wahdan1993@gmail.com">Wahdan1993@gmail.com</a>
      </p>
    </footer>
  </div>
</div>
{% endblock %}